<form action="/auth/login" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   <label> Password
      <input type="password" name="password">
   </label>

   <button type="submit">Submit</button>
</form>

<a href="/auth/signup">Sign Up</a>
<a href="/search">Search</a>
<a href="/search/results">Search Results</a>
<a href="/auth/logout">Logout</a>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}