<form action="/auth/login" method="POST">
   <label for="Username">
      <input type="text" name="username" placeholder="Username">
   </label>
   <label for="Password">
      <input type="password" name="password" placeholder="Password">
   </label>

   <button type="submit">Submit</button>
</form>


<img src="/images/ironhub_logo.jpeg" width="500px" alt="X">

<h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis accusantium quas facilis autem fuga? Doloremque eaque ex natus. 
   Beatae temporibus libero mollitia recusandae eligendi tenetur sit dolorem architecto iusto qui.</h4>

<p>Don't have an account yet?</p>
<button><a href="/auth/signup">Sign Up</a></button>


<p>Created by:</p>
<p>xxx xxxx</p>


{{#if errorMessage}}
   {{errorMessage}}
{{/if}}