<form action="/auth/signup" method="POST">
   <label> Username
      <input type="text" name="username">
   </label>
   
   <label> Name
      <input type="text" name="name">
   </label>

   <label> Surname
      <input type="text" name="surname">
   </label>

   <label> Ironpass
      <input type="password" name="ironpass">
   </label>

   <label> Password
      <input type="password" name="password">
   </label>

   <label> Campus
      <input type="text" name="campus">
   </label>

   <label> Course
      <input type="text" name="course">
   </label>

   <button type="submit">Submit</button>
</form>

<a href="/search">Search</a>
<a href="/search/results">Search Results</a>
<a href="/auth/logout">Logout</a>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}