<iframe class="z-0 h-full w-full" src='https://my.spline.design/bandingcopy-911fb32df568877dfd6accf77c314a29/' frameborder='0'>
</iframe>
<div class="card w-96 glass z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
  <figure><img class="w-20 mt-4" src="/images/ironhub_nobg.png" alt="Ironhub"></figure>

  <div class="card-body">

<form action="/auth/signup" method="POST">
   <label for="Name">
      <input class="input input-bordered rounded-full w-full max-w-xs mt-2 text-center opacity-95" type="text" name="name" placeholder="Name">
   </label>

   <label for="Surname">
      <input class="input input-bordered rounded-full w-full max-w-xs mt-2 text-center opacity-95" type="text" name="surname" placeholder="Surname">
   </label>

     <label for="Username">
      <input class="input input-bordered rounded-full w-full max-w-xs mt-2 text-center opacity-95" type="text" name="username" placeholder="Username">
   </label>

   <label for="Password">
      <input class="input input-bordered rounded-full w-full max-w-xs mt-2 text-center opacity-95" type="password" name="password" placeholder="Password">
   </label>

   <label for="ironpass">
      <input class="input input-bordered rounded-full w-full max-w-xs mt-2 text-center opacity-95" type="password" name="ironpass" placeholder="IronPass">
   </label>

    <label for="Campus">
   <select class="select select-bordered rounded-full w-full max-w-xs text-center mt-2 opacity-95" name="campus" id="campus"> Campus
      <option value="">Select Campus</option>
      <option value="Amsterdam">Amsterdam</option>
      <option value="Barcelona">Barcelona</option>
      <option value="Berlin">Berlin</option>
      <option value="Lisbon">Lisbon</option>
      <option value="London">London</option>
      <option value="Madrid">Madrid</option>
      <option value="Mexico City">Mexico City</option>
      <option value="Miami">Miami</option>
      <option value="Paris">Paris</option>
      <option value="São Paulo">São Paulo</option>
      <option value="Remote">Remote</option>
   </select>
   </label>

     <label for="course">

      <select class="select select-bordered rounded-full w-full max-w-xs mt-2 text-center opacity-95"name="course" id="course"> Course
       <option value="">Select Course</option>
      <option value="Web Dev">Web Dev</option>
      <option value="UX/UI">UX/UI</option>
      <option value="Data Analyst">Data Analyst</option>
      <option value="Cybersecurity">Cybersecurity</option>
   </select>
   </label>

   <div class="card-actions justify-center">
   <button class="btn btn-sm btn-wide rounded-full text-white btn-outline mt-4" type="submit">Sign up</button>
   <a href="/auth/login" class="btn rounded-full btn-sm btn-wide text-white btn-outline ">Log In</a>
</form>
   </div>

{{#if errorMessage}}
<div id="alert-additional-content-2" class="p-2 mb-5 border border-red-200 rounded-lg bg-red-50 dark:bg-red-200" role="alert">
  <div class="mt-2 mb-4 text-sm text-red-900 dark:text-red-800 text-center">
    {{errorMessage}}
  </div>
</div>
{{/if}}

</div>
</div>

<footer class="footer footer-center p-1 bg-base-100 text-base-content">
  <div>
    <p>Developed and Designed by <br><a href="https://github.com/lzaquine" target="_blank">Lucas Zaquine</a> & <a href="https://github.com/pveg" target="_blank">Paulo Torres</a></p>
  </div>
</footer>
