{{#if currentUser}}
<h1>Welcome to Ironhub {{currentUser.username}}!</h1>
<button><a href="/search">Search</a></button>
<button><a href="/search/results">Search Results</a></button>
<button><a href="/auth/logout">Logout</a></button>
<button><a href="/profile/{{currentUser.username}}">Profile</a></button>
<button><a href="/{{currentUser.username}}/projects">Projects</a></button>
{{else}}
<h1>Welcome to Ironhub!</h1>
<button><a href="/auth/login">Login</a></button>
<button><a href="/auth/signup">Sign Up</a></button>
{{/if}}
