<h1>Welcome to Ironhub</h1>
{{!-- <p>Welcome to Ironhub</p> --}}

<a href="/auth/login"> login</a>

<a href="/auth/signup">signup</a>

<a href="/search">Search</a>
<a href="/search/results">Search Results</a>
<a href="/auth/logout"> logout</a>

