<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.22.0/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/flowbite@1.5.2/dist/flowbite.min.css" />
  </head>


  <body>

   {{#if currentUser}}
<div class=" z-10 navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" href="/">Ironhub</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal p-0">
      <li><a href="/profile/{{currentUser.username}}">Profile</a></li>
      <li><a href="/search">Search</a></li>
        <li><a href="/{{currentUser.username}}/projects">Projects</a></li>
      <li><a href="/auth/logout">Sign out</a></li>
    </ul>
  </div>
</div>
<div>
   {{/if}}

    {{{body}}}




    <script src="/js/script.js"></script>
  </body>

</html>