<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    {{#if currentUser}}
    <div>
    <nav>
      <ul>
        <li>
          <a href="/search"><img src="/images/ironhub_nobg.png" alt="Ironhub logo" width="45px" title="Back to Search"></a>
        </li>
        <li>
          <a href="/search">Search</a>
        </li>
        <li>
          <a href="/profile/{{currentUser.username}}">Profile</a>
        </li>
        <li>
          <a href="/auth/logout">Logout</a>
        </li>
      </ul>
    </nav>
</div>
{{/if}}
 
    {{{body}}}



    <script src="/js/script.js"></script>
  </body>

</html>