<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />

    {{! FAVICON }}


    <link rel="icon" type="image/x-icon" href="/images/favicon_package_v0/favicon.ico">
   {{!--  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon_package_v0/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon_package_v0/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon_package_v0/favicon-16x16.png" />
    <link rel="manifest" href="/images/favicon_package_v0/site.webmanifest" />
    <link rel="mask-icon" href="/images/favicon_package_v0/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#eaf9fe" />
    <meta name="theme-color" content="#ffffff" /> --}}
  </head>

  <body>

    {{#if currentUser}}
      <div>
        <nav>
          <ul>
            <li>
              <a href="/search"><img
                  src="/images/ironhub_nobg.png"
                  alt="Ironhub logo"
                  width="45px"
                  title="Back to Search"
                /></a>
            </li>
            <li>
              <a href="/search">Search</a>
            </li>
            <li>
              <a href="/profile/{{currentUser.username}}">Profile</a>
            </li>
            <li>
              <a href="/auth/logout">Logout</a>
            </li>
          </ul>
        </nav>
      </div>
    {{/if}}

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>