<button><a href="/search">Search</a></button>
<button><a href="/profile/{{user.username}}">Profile</a></button>
<button><a href="/auth/logout">Logout</a></button>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis cupiditate culpa, sint, provident debitis aliquid voluptatibus saepe reiciendis iste 
   possimus ducimus illo consectetur dolore cum, repellendus tempore fuga amet inventore.</p>

<form action="/search" method="GET">
    <label for="campus">Campus</label>
   <select name="campus" id="campus"> Campus
      <option value="Amsterdam">Amsterdam</option>
      <option value="Barcelona">Barcelona</option>
      <option value="Berlin">Berlin</option>
      <option value="Lisbon">Lisbon</option>
      <option value="London">London</option>
      <option value="Madrid">Madrid</option>
      <option value="Mexico City">Mexico City</option>
      <option value="Miami">Miami</option>
      <option value="Paris">Paris</option>
      <option value="São Paulo">São Paulo</option>
      <option value="Remote">Remote</option>
   </select>
   </label>

   <label for="course">Course</label>
   <select name="course" id="course"> Course
      <option value="Web Dev">Web Dev</option>
      <option value="UX/UI">UX/UI</option>
      <option value="Data Analyst">Data Analyst</option>
      <option value="Cybersecurity">Cybersecurity</option>
   </select>
   </label>

   <label for="Username">
      <input type="text" name="name" placeholder="Username">
   </label>

   
   <button type="submit">Seach</button>

</form>