<div>
    
<iframe class="z-0 h-full w-full" src='https://my.spline.design/bandingcopy-911fb32df568877dfd6accf77c314a29/' frameborder='0'>
</iframe>
<div class="card w-96 glass z-10 absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
{{!--   <figure><img src="../public/images/iron.png" alt="Ironhub"></figure> --}}
  <div class="card-body">
    <form action="/search/results" method="GET">
    <label for="campus"></label>
   <select class="select select-bordered w-full max-w-xs text-center mt-4 opacity-95" name="campus" id="campus"> Campus
      <option value="">Select Campus</option>
      <option value="Amsterdam">Amsterdam</option>
      <option value="Barcelona">Barcelona</option>
      <option value="Berlin">Berlin</option>
      <option value="Lisbon">Lisbon</option>
      <option value="London">London</option>
      <option value="Madrid">Madrid</option>
      <option value="Mexico City">Mexico City</option>
      <option value="Miami">Miami</option>
      <option value="Paris">Paris</option>
      <option value="São Paulo">São Paulo</option>
      <option value="Remote">Remote</option>
   </select>
   </label>

     <label for="course"></label>
      <select class="select select-bordered w-full max-w-xs mt-4 text-center opacity-95"name="course" id="course"> Course
      <option value="">Select Course</option>
      <option value="Web Dev">Web Dev</option>
      <option value="UX/UI">UX/UI</option>
      <option value="Data Analyst">Data Analyst</option>
      <option value="Cybersecurity">Cybersecurity</option>
   </select>
   </label>

      <label for="Username">
      <input class="input input-bordered w-full max-w-xs mt-4 text-center opacity-95" type="text" name="name" placeholder="Username">
   </label>

<div class="card-actions justify-center">
   <button class="btn btn-sm btn-wide text-white btn-outline mt-6" type="submit"><a href="/search/results">Search Results</a></button>
{{!--       <button class="btn btn-primary">
        <a href="/search/results">Search Results</a>
        </button> --}}
        </div>
    </div>
  </div>
</div>
</div>