<h1>Search Results</h1>

{{#each}}


<button><a href="/">Main Page</a></button>
<button><a href="/search">Search</a></button>
<button><a href="/auth/logout">Logout</a></button>
<button><a href="/profile/{{user.username}}">Profile</a></button>