<h1>Hello, {{user.username}}</h1>
<form action="/{{user.username}}/projects/new" method="POST" enctype='multipart/form-data'>

    <label for="title">Title</label>
    <input type="text" name="title">

    <label for="description">Description</label>
    <input type="text" name="description">

    <label for="link">Link</label>
    <input type="text" name="link">

    <label for="image">Image</label>
    <input type="file" name="image">
    
    <button type="submit">Add Project</button>
    <a href="/{{user.username}}/projects">Back</a>
</form>